@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
* {
    box-sizing: border-box;
}
.light-theme{
header {
        border-bottom: 2px solid rgb(224, 12, 12) ;
        .wrapper {
            display: grid;
            grid-template-columns: 130px 1fr 64px;
            align-items: center;

            .themeSwaper svg {
                width: 45px;
                height: 47px;
            }

            .Logo {
                img {
                    max-height: 80px;
                    max-width: 130px;
                }
            }

            nav {
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    justify-items: center;

                    a {
                        text-decoration: unset;
                        color: black;
                        font-family: 'Source Sans 3';
                        font-size: 22px;
                        letter-spacing: 1px;
                        line-height: 20px;
                        font-weight: 500;
                    }

                    a.active {
                        color: rgb(224, 12, 12);
                    }

                }
            }

            .burger {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 7px;
                max-width: 40px;

                span {
                    width: 80%;
                    height: 3px;
                    background-color: rgb(224, 12, 12);
                }
            }
        }
    }
}
.dark-theme {
    header {
        border-bottom: 2px solid #a5c2f2;
        background-color: #0e2b50;

        .wrapper {
            display: grid;
            grid-template-columns: 130px 1fr 64px;
            align-items: center;

            .themeSwaper svg {
                width: 45px;
                height: 47px;
                path, line{
                    stroke: white;
                }
            }

            .Logo {
                img {
                    max-height: 80px;
                    max-width: 130px;
                }
            }

            nav {
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;
                    justify-content: space-evenly;
                    justify-items: center;

                    a {
                        text-decoration: unset;
                        color: rgb(255, 255, 255);
                        font-family: 'Source Sans 3';
                        font-size: 22px;
                        letter-spacing: 1px;
                        line-height: 20px;
                        font-weight: 500;
                    }

                    a.active {
                        color: #a5c2f2;
                    }

                }
            }

            .burger {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 7px;
                max-width: 40px;

                span {
                    width: 80%;
                    height: 3px;
                    background-color: #a5c2f2;
                }
            }
        }
    }
}


@media (max-width: 750px) {
#root    header {
        .wrapper.active{
            grid-template-columns: 1fr 64px 40px;
            grid-template-rows: 52px auto ;
            height: auto;
            grid-template-areas: "logo day burger"
                                 "nav nav nav";
            nav {
                grid-area: nav;
                display:flex;
            }
            .Logo{
                grid-area: logo;
            }
            .burger{
                grid-area: burger;
            }
            .themeSwaper{
                grid-area: day;
            }
        }
        .wrapper {
            grid-template-columns: 1fr 64px 40px;
            .Logo {
                img {
                    max-height: 80px;
                    max-width: 117px;
                }
            }
    
            nav {
                display: none;
            }
            .themeSwaper{
                img{
                    max-width: 50px;
                    max-height: 50px;
                }
            }
    
            .burger {
                display: flex;
            }
        }
    }
}
@media (max-width: 470px) {
#root   header .wrapper nav ul a{
        font-size: 15px;
        letter-spacing: 0;
    }
}